package/*
out
lambda_scrapper.zip
.vscode/*
venv/*
scrapped_data_folder/*.csv
scrapped_data_folder/the_data.csv
mongovol/*
myvolume/*
astronomer-with-lambda/mongovol/*
astronomer-with-lambda/myvolume/*
scrapping/__pycache__
*.py[cod]